body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 10px;



}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(179, 179, 179, 0.5);    


}

/* Handle */
::-webkit-scrollbar-thumb {
  width: 10px;  
  background: grey;
  border-radius: 10px;
}

#map {
  position: absolute;
  width: 100%;
  height: 100%;
}

.title {
  position: absolute;
  text-transform: uppercase;
  font-size: 80px;
  z-index: 1;
  top: 100px;
  left: 50px;
  font-weight: bold;
  color: rgb(238, 247, 247);
  
  
}



/* Search */
.search-container {
  position: absolute;
  z-index: 1;
  top: 220px;
  left: 50px;
  border-radius: 30px;
  background-color: #454e53;
  opacity: 80%;
  width: 400px;
  height: 60px;
  display: flex;
}

.search {
  display: flex;
  align-items: center;
  width: 100%;
}

.search-container input {
  background-color: transparent;
  border: none;
  color: white;
  margin-left: 20px;
  width: 100%;
  font-size: 20px;
}

.search-container input:focus {
  outline: none;
}

.search-container i {
  color: white;
  font-size: 25px;
  margin-right: 20px;
}

/* Stores List */
.stores-list-container {
  background-color: rgba(255, 254, 254, 0.9);

  border-radius: 30px;
  position: absolute;
  z-index: 1;
  top: 320px;
  bottom: 0;
  left: 50px;
  width: 400px;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  /* padding-top: 25px;  
  padding-bottom: 25px; */
  /* padding-right: 10px;   */
}

.stores-list {
  overflow-y: scroll;
}

/* Single Store */
.store-container {
  padding: 20px;
  margin: 10px;
  border-bottom: 1px solid #979797;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.store-container .store-address {
  font-size: 20px;
  z-index: 3;
}

.store-address span {
  display: block;
}

.store-container .store-phone-number {
  color: #6b6666;
  margin-top: 15px;
  margin-bottom: 20px;
}

.store-number-container .store-number {
  width: 30px;
  height: 30px;
  background-color: #454e53;
  border-radius: 50%;
  color: white;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.store-container:hover{
    background-color: #454e53;
    border-radius: 30px;

    color: white !important;
}


/* Info Window */
.info-address-container{
  display: flex;
  align-items: center;
}

.infoWindow i{
  width: 30px;
  height: 30px;
  display: flex;
  color: white;
  background-color: #0e8a96;
  border-radius: 50%;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
}